VITE_APP_NAME=CipherChain
VITE_API_BASE_URL=http://localhost:8080/api
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_POLYGON_CHAIN_ID=80002
VITE_POLYGON_RPC_URL=
VITE_MESSAGE_VERIFIER_ADDRESS=
VITE_WALLETCONNECT_PROJECT_ID=
