PORT=8080
CORS_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_PATH=./secrets/firebase-service-account.json
ADMIN_WALLET_ADDRESSES=
POLYGON_RPC_URL=
MESSAGE_VERIFIER_ADDRESS=
